:root {
    --primary: #a382ff;
    --secondary: #31c5ff;
    --secondary-hover: #9ae2ff;
    --tertiary: #979797;
}

.container {
 

    
}

#timer {
    position: fixed;
    top: 0;
    right: 0;
    margin: 35px 50px;
    color: var(--primary);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    
}

.container-h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  text-align: center;
   

}

.content {
   color: var(--secondary);
   text-shadow: 2px 2px 6px var(--tertiary);
    font-size: 25px;
    
}

.content-p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
 
    color: var(--primary);
    margin: 100px;
}


.quiz-btn {
    outline: none;
    border: 4px solid darkblue;
    padding: 10px 10px;
    background: var(--secondary);
    border-radius: 9px;
    box-shadow: 0 3px var(--tertiary);
    margin: auto;
    display: flex;
}

.quiz-btn:hover {
    border: 4x solid darkblue;
    background: var(--secondary-hover);
}

.ul-style {
    background: grey;
    box-shadow: -3px 10px 12px #727272;
    display: block;
    margin: 0 auto;
    width: 50%;
}

.li-style {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: whitesmoke;
    display: block;
}



/* iPad media query */

@media (max-width: 690px) {



}

/* mobile phone media query */

@media (max-width: 500px) {


}